.grid-container {
  display: flex;
  justify-content: space-evenly;
}

.grid-container a {
  color: #000;
  text-decoration: none;
}

.property-container {
  display: flex;
  height: 60vh;
  width: 20vw !important;
  border: 1px solid black;
}

.card {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}

.price {
  display: flex;
  justify-content: flex-end;
}
