<div class="detail-container" *ngIf="property">
  <div class="image-container">
      <button [disabled]="imageIndex === 0" (click)="nextImage()" class="nextImage">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <img src="{{property.images[imageIndex]}}" alt="">
      <button [disabled]="imageIndex === maxImageIndex" (click)="previousImage()" class="prevImage">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
  </div>
  <div class="information-container">
    <h1 class="title">{{property.title}}</h1>
    <span class="description">{{property.description}}</span>
    <div class="address-price">
      <span class="address"><mat-icon> pin_drop</mat-icon>{{property.address}}</span>
      <span class="price">${{property.price}}</span>
    </div>
    <div class="rooms-container">
      <div class="first-section">
        <span><mat-icon>meeting_room</mat-icon>{{property.roomQuantity}}</span>
        <span><mat-icon>bathtub</mat-icon>{{property.bathroomQuantity}}</span>
      </div>
      <div class="second-section">
        <span><mat-icon>commute</mat-icon>{{property.garageQuantity}}</span>
      </div>
      <div class="services">
        <p>Servicios</p>
        <span>{{property.services}}</span>
      </div>
      <div class="owner-contact">
        <h1>Contacto del arrendador</h1>
        <div class="owner-details">
          <h3>{{owner.fullName}}</h3>
          <span>{{owner.phone}}</span>
          <span>{{owner.email}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
